.example-card {
    width: 300px;
    height: 300px;
    margin-top: 10px;
     background-color: #7e7979;
     margin-left: 50px;
 
   }
   
   .example-header-image {
     width: 300px;
     height: 230px;
   }