<div >
  
    <div class="col-sm-8">
      <div >
      
            
        <div class="container">
      
         <div class="row">
           <div class="col-sm-8">
             
             <form >
               <div class="input-group mb-3"style="margin-top:40px;margin-left:30px;   width: 800px;">
               <mat-form-field class="input-group mb-3">
                 <input  class="form-control" matInput placeholder="Search"id="id" name="id"   >
                 <button class="btn btn-outline-secondary"type="submit">Search</button>
               </mat-form-field>
             </div>
              
             </form>
            </div>
            <div class="col-sm-3">
              <section>
                <div class="example-button-row">
                  <div class="example-flex-container">
                    <div class="example-button-container">
                      <button (click)="openAddUserDialog()" style="margin-top:40px;margin-left:450px;margin-bottom:20px;background-color:#00994C;" mat-fab  aria-label="Example icon button with a delete icon">
                        <mat-icon >add</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </section>
             
          </div>
          </div>
        </div>
  
      
        <table mat-table [dataSource]="dataSource" style="margin-top:20px;margin-left:30px;margin-bottom:20px;">
  
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef style="text-align:center;"> ID </th>
            <td mat-cell *matCellDef="let data" style="text-align:center;">{{ data.id }}</td>
  
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="Client">
            <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Client </th>
            <td  mat-cell *matCellDef="let data"  style="text-align:center;">{{ data.Client }}</td>
  
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="Offer">
            <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Offer </th>
            <td mat-cell *matCellDef="let data" style="text-align:center;color:#6e100b">{{ data.Offer }}</td>
  
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="Agent">
            <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Agent </th>
            <td mat-cell *matCellDef="let data" style="text-align:center;">{{ data.Agent }}</td>
          </ng-container>
          
          
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Edit </th>
            <td mat-cell *matCellDef="let data" style="text-align:center;">
              <section  >
                <div class="example-button-row">
                  <div class="example-flex-container">
                    <div class="example-button-container">
                      <button (click)="deleteUser(data.id)" style="margin-left:5px;background-color:#FF6666;" mat-fab  aria-label="Example icon button with a delete icon">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button (click)="openEditUserDialog(data,data.id)" style="margin-left:5px;background-color: #00FFFF;" mat-fab   aria-label="Example icon button with a bookmark icon">
                        <mat-icon >edit</mat-icon>
                      </button>
                      
                    </div>
                    <div class="example-button-container">
                     
                    </div>
                   
                    
                  </div>
                </div>
              </section>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>
        </table>
        
         <hr>
         
        
             
              
                
      </div>
  
    </div>
  </div>
  
  