table {
    width: 1000px;
    background-color: rgb(189, 187, 187);
    color: rgb(88, 81, 72);

  }
  body{
    background-color: rgb(42, 42, 43);
  }
  

 th{
  color: black;
 }
 td{
  color: black;
 }
 tr{
  color: black;
 }

 .image-preview {
  width: 50px; /* Adjust the width as per your requirement */
  height: auto;
}