<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <form (submit)="SearchID()">
        <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter an ID"id="id" name="id" [(ngModel)]="id">
        <button class="btn btn-outline-secondary"type="submit">Search</button>
        </div>
      </form>
      
      <div *ngIf="data">
       <ul>
        <li   *ngFor="let data of data">
          {{data.id}}******{{data.email}}*****{{data.roles}}
        </li>
       </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-success" style="margin-left:150px"(click)="openAddUserDialog()">New</button>  
  </div>
  </div>
</div>


 <hr>
 

      <table class="table table-bordered">
        <thead >
          <tr >
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Role</th>
            <th scope="col">Verified?</th>
            <th colspan="3">Actions</th>

          </tr>
        </thead>
        <tbody   >
          <tr   *ngFor="let i of users">
            <th scope="row">{{i.id}}</th>
            <td>{{i.email}}</td>
            <td >{{i.password}}</td>
            <td >{{i.roles}}</td>
            <td *ngIf="i.is_verified"style="text-align:center;color:green"><b>YES</b></td>
            <td *ngIf="!i.is_verified"style="text-align:center;color:red"><b>NO</b></td>
            <td colspan="3">
              <button class="btn btn-danger"style="margin-left:25px"(click)="deleteUser(i.id)">Delete</button>
              <button class="btn btn-info" style="margin-left:25px" (click)="openEditUserDialog(i)">Edit</button>
              <button class="btn btn-secondary" style="margin-left:25px" (click)="openShowUserDialog(i.id)">Show</button>
            </td>
          </tr>
          
        </tbody>
      </table>
      
        