<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <form (submit)="SearchID()">
        <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter an ID"id="id" name="id" [(ngModel)]="id">
        <button class="btn btn-outline-secondary"type="submit">Search</button>
        </div>
      </form>
      
      
    </div>
    <div class="col-sm-3">
      <button class="btn btn-success" style="margin-left:150px"(click)="openAddUserDialog()">New</button>  
  </div>
  </div>
</div>


 <hr>
 

      <table class="table table-bordered">
        <thead >
          <tr >
            <th style="text-align:center;" scope="col">ID</th>
            <th style="text-align:center;" scope="col">Email</th>
            <th style="text-align:center;" scope="col">Password</th>
            <th style="text-align:center;" scope="col">Role</th>
            <th style="text-align:center;" scope="col">Verified?</th>
            <th style="text-align:center;" colspan="3">Actions</th>

          </tr>
        </thead>
        <tbody   >
          <tr   *ngFor="let i of users">
            <th style="text-align:center;" scope="row">{{i.id}}</th>
            <td style="text-align:center;">{{i.email}}</td>
            <td style="text-align:center;">{{i.password}}</td>
            <td style="text-align:center;">{{i.roles}}</td>
            <td *ngIf="i.is_verified"style="text-align:center;color:green"><i class="fa fa-check" style="font-size:20px"></i></td>
            <td *ngIf="!i.is_verified"style="text-align:center;color:red"><b><i class="fa fa-close" style="font-size:20px"></i>
            </b></td>
            <td colspan="3">
              <button class="btn btn-danger"style="margin-left:25px"(click)="deleteUser(i.id)">Delete</button>
              <button class="btn btn-info" style="margin-left:25px" (click)="openEditUserDialog(i,i.id)">Edit</button>
              <button class="btn btn-secondary" style="margin-left:25px" (click)="openShowUserDialog(i.id)">Show</button>
            </td>
          </tr>
          
        </tbody>
      </table>
      
        