
<h1 mat-dialog-titles style="text-align:center;color:#d8b9ed;">Add Client</h1>
<hr>

<form (ngSubmit)="PostUser()">
       
  <input type="email" class="form-control" placeholder="Enter an email" id="email" name="email" [(ngModel)]="email"><br>
  <input type="password" id="password" name="password" class="form-control" placeholder="Enter an password"[(ngModel)]="password"><br>
  <input type="text" id="fullName" name="fullName" class="form-control" placeholder="Enter an fullName"[(ngModel)]="fullName"><br>
  <input 
    class="form-control"
    name="phoneNumber"
    id="phoneNumber"
    type="tel" 
    placeholder="Enter an phoneNumber"
    [(ngModel)]="phoneNumber"
    >
<br>
  <input type="text" id="adress" name="adress" class="form-control" placeholder="Enter an adress"[(ngModel)]="adress"><br>
  <input type="text" id="country" name="country" class="form-control" placeholder="Enter an country"[(ngModel)]="country"><br>

   

    <div class="position-absolute top-5000 start-50 translate-middle">
      <button  mat-flat-button color="primary" type="submit"style="margin-left:40px;margin-right:50px;margin-top:100px" >Add client</button>
      <button  mat-flat-button style="background-color:#b3b0b5;margin-top:100px;" type="button"(click)="onCancel()">Cancel</button>
    </div>
</form>

