<div    class="container">
    <div *ngFor="let data of data | keyvalue">
       <h1 mat-dialog-titles  style="color:rgb(7, 35, 112 );text-align:center">
          <b>Informations about  the client</b>
       </h1>
         <hr>
         <div  class="row">
         <div class="col">
           
           <div  class="row">
               <div class="col">
                 <h1 style="color:#0330AB;text-align:center">
                    <b> ID:</b> <span  style="color:black"> {{ data.value.id }}</span>
                 </h1> 
                 </div>
             
                
             </div>
           </div>
       
           <div class="col">
           
           <div  class="row">
               <div class="col">
                 <h1 style="color:#0330AB;text-align:center">
                   <b> EMAIL:</b> <span  style="color:black"> {{ data.value.email }}</span>
                 </h1> 
                 </div>
             
                
             </div>
             
           </div>
       </div>
       <div  class="row">
           <div class="col">
             
             <div  class="row">
                 <div class="col">
                   <h1 style="color:#0330AB;text-align:center">
                      <b> PASSWORD:</b>  <span  style="color:black"> {{ data.value.password }}</span>
                   </h1> 
                   </div>
               
                  
               </div>
             </div>
         
             <div class="col">
             
             <div  class="row">
                 <div class="col">
                   <h1 style="color:#0330AB;text-align:center">
                     <b> ROLE:</b>   <span  style="color:black"> {{ data.value.roles }}</span>
                   </h1> 
                   </div>
               
                   
               </div>
               
             </div>
         </div>
         <div class="row">
          
           <h1 style="color:#0330AB;text-align:center">
               <b> Status:</b>  
                <span *ngIf="data.value.status=='Waiting'" style="color:black;"> Waiting</span>
                <span *ngIf="data.value.status=='Accepted'" style="color:black"> Accepted</span>
                <span *ngIf="data.value.status=='Denied'" style="color:black"> Denied</span>

             </h1> 
           
         </div>
       </div>
      
   </div>
   <hr>
   <div class="d-grid gap-2 col-6 mx-auto">
   <button type="button"class="btn btn-primary btn-lg"(click)="onCancel()" style="text-align:center">Close</button>
   </div>
   
     