<h1 mat-dialog-titles style="text-align:center;color:rgb(7 ,35 ,112);">Edit Client</h1>
<hr>
    <form (ngSubmit)="updateUser(data.id,data)">
        
      
        Email:
        <input type="email" class="form-control" name="email" [(ngModel)]="data.email">
      <br>
      
        password:
        <input type="password"  class="form-control"name="password"[(ngModel)]="data.password">
       <br>
          roles:
          <select class="form-select" name="roles"value="roles"id="roles"[(ngModel)]="data.roles[0]">
              <option value="ROLE_CLIENT">ROLE_CLIENT</option>
              <option value="ROLE_AGENT">ROLE_AGENT</option>
              <option value="ROLE_ADMIN">ROLE_ADMIN</option>
          </select>
        <br>
        
          <div class="form-check form-check-inline">
          <p class="lead">
          Status:
          </p>
        </div>
    
        <div class="form-check form-check-inline">
            <input class="form-check-input"type="radio" id="Waiting" name="Waiting"  value="Waiting"[(ngModel)]="data.status">
            <label for="NO"class="form-check-label">Waiting</label>
            <br>
            <input class="form-check-input"type="radio" id="Accepted" name="Accepted" value="Accepted"[(ngModel)]="data.status">
            <label for="YES"class="form-check-label">Accepted </label>
            <br> 
            <input class="form-check-input"type="radio" id="Denied" name="Denied" value="Denied"[(ngModel)]="data.status">
            <label for="YES"class="form-check-label">Denied </label>
            <br> 
        </div>
        <br>
        <div class="position-absolute top-5000 start-50 translate-middle">
          <button type="submit"class="btn btn-primary "style="margin-left:40px;margin-right:50px;margin-top:100px">update client</button>
          <button type="button"class="btn btn-secondary"style="margin-top:100px"(click)="onCancel()">Cancel</button>

            </div>
    </form>

