.container{
    margin-top: 150px;
    min-width: 200px;
    max-width: 600px;
 }  

 .google-color {
    background-color: #fa8651; /* Set your desired background color */
    color: #f0ecec; /* Set your desired text color */
  }
  .fb-color {
    background-color: #130a97; /* Set your desired background color */
    color: #f0ecec; /* Set your desired text color */
  }
  .tw-color {
    background-color: #51cafa; /* Set your desired background color */
    color: #f0ecec; /* Set your desired text color */
  }
  .wtp-color {
    background-color: #11c772; /* Set your desired background color */
    color: #f0ecec; /* Set your desired text color */
  }