
<h1 mat-dialog-titles style="text-align:center;color:#d8b9ed;">Add Reservation</h1>
<hr>

<form (ngSubmit)="PostReservation()">
       
  

  <br>
        Offer:
          <select class="form-select" id="Offer" name="Offer"  [(ngModel)]="Offer" >
            <option *ngFor="let item of data1; index as i" [value]="item.id">{{ item.id }}--{{item.id}}</option>

          </select>
    <br>
    <br>
    Client:
      <select class="form-select" id="Client" name="Client"  [(ngModel)]="Client">
        <option *ngFor="let item of data2; index as i" [value]="item.id">{{ item.id }}--{{item.email}}</option>

      </select>
<br>
Agency:
      <select class="form-select" id="Agent" name="Agent"  [(ngModel)]="Agent" >
        <option *ngFor="let item of data3; index as i" [value]="item.id"    >{{ item.id }}--{{item.email}}</option>

      </select>
<br>
    <div class="position-absolute top-5000 start-50 translate-middle">
   <button mat-flat-button color="primary" type="submit"style="margin-left:40px;margin-right:50px;margin-top:100px">Add Reservation</button>
  
   <button mat-flat-button  style="background-color:#b3b0b5;margin-top:100px;" type="button"(click)="onCancel()">Cancel</button>
    </div>

</form>

