
<mat-toolbar style="background-color:#302a2a;height:80px">
  <img  class="img" src="assets/travel-hub.png" alt="My Image">

 
  
  
  
  
  
  
  
  
</mat-toolbar>
<mat-sidenav-container  >
    <mat-sidenav #sidenav class="sidenav"  style="background-color:#5e5b5b;"  opened mode="side" position="start"  >
        <mat-nav-list   >
      <a mat-list-item (click)="navigateTo(1)"><mat-icon fontSize="large"style="margin-right:5px;">dashboard</mat-icon>DashBoard</a>
      <a mat-list-item (click)="navigateTo(2)"><mat-icon  fontSize="large"style="margin-right:5px;">account_circle</mat-icon>Clients</a>
      <a mat-list-item (click)="navigateTo(3)"><mat-icon  fontSize="large"style="margin-right:5px;">apartment</mat-icon>Agencies</a>
    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content    class="sidebar">
        
          <div  *ngIf="loadDash">
            <mat-toolbar style="background-color:#77a3c7;"    >
              <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
              </button>
              <span>DashBoard</span>
            </mat-toolbar>
            <router-outlet></router-outlet>
            <app-dashboard></app-dashboard>
          </div>
          <div  *ngIf="loadCl">
            <mat-toolbar style="background-color:#77a3c7;"    >
              <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
              </button>
              <span>Clients</span>
            </mat-toolbar>
            <router-outlet></router-outlet>
            <app-client></app-client>
          </div>
          <div  *ngIf="loadAg">
            <mat-toolbar style="background-color:#77a3c7;"    >
              <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
              </button>
              <span>Agencies</span>
            </mat-toolbar>
            <router-outlet></router-outlet>
            <app-agence></app-agence>
          </div>
          
          <router-outlet></router-outlet>

         </mat-sidenav-content>
  </mat-sidenav-container>