.mat-body {
    font-size: var(--body-font-size, 16px);
  }
  
  /* define the custom font size variable */
  :host {
    --body-font-size: 14px;
  }

  .custom-card1 {
    background-color: #a84d4d;
  }
  .custom-card2 {
    background-color: #343372;
  }
  .custom-card3 {
    background-color: #33724b;
  }
  .custom-card4 {
    background-color: #726933;
  }
  .custom-card5 {
    background-color: #af741c;
  }
  .custom-card6 {
    background-color: #8d1469;
  }