<div    class="container">
    <div *ngFor="let data of data | keyvalue">
       <h1 mat-dialog-titles  style="color:#d8b9ed;text-align:center;margin-buttom:50px;">
          <b>Informations about  the client</b>
       </h1>
         <hr   style="margin-top:70px;">
         <div  class="row">
         <div class="col">
           
           <div  class="row">
               <div class="col">
                 <h1 style="color:#e3544f;text-align:center">
                    <b> ID:</b> <span  style="color:white"> {{ data.value.id }}</span>
                 </h1> 
                 </div>
             
                
             </div>
           </div>
       
           <div class="col">
           
           <div  class="row">
               <div class="col">
                 <h1 style="color:#e3544f;text-align:center">
                   <b> EMAIL:</b> <span  style="color:white"> {{ data.value.email }}</span>
                 </h1> 
                 </div>
             
                
             </div>
             
           </div>
       </div>
       <div  class="row">
           <div class="col">
             
             <div  class="row">
                 <div class="col">
                   <h1 style="color:#e3544f;text-align:center">
                      <b> PASSWORD:</b>  <span  style="color:white"> {{ data.value.password }}</span>
                   </h1> 
                   </div>
               
                  
               </div>
             </div>
         
             <div class="col">
             
             <div  class="row">
                 <div class="col">
                   <h1 style="color:#e3544f;text-align:center">
                     <b> ROLE:</b>   <span  style="color:white"> {{ data.value.roles }}</span>
                   </h1> 
                   </div>
               
                   
               </div>
               
             </div>
         </div>
         <div class="row">
          
           <h1 style="color:#e3544f;text-align:center">
               <b> Status:</b>  
                <span *ngIf="data.value.status=='Waiting'" style="color:white;"> Waiting</span>
                <span *ngIf="data.value.status=='Accepted'" style="color:white"> Accepted</span>
                <span *ngIf="data.value.status=='Denied'" style="color:white"> Denied</span>

             </h1> 
           
         </div>
       </div>
      
   </div>
   <hr>
   <div class="d-grid gap-2 col-6 mx-auto">
    <button  mat-flat-button style="background-color:#b3b0b5;margin-top:50px;" type="button"(click)="onCancel()">Cancel</button>
  </div>
   
     